.page {
	display: none;
}
.page.current {
	display: block;
}
#stash {
	display: none;
}

ul#shopping-list {
	list-style-type: none;
}

ul#shopping-list li.shop {

}

ul#shopping-list ul {
	list-style-type: circle;
}

ul#shopping-list ul li {

}

ul#saved-lists {

}

ul#saved-lists li {
	cursor: pointer;
}


input[type="list"] {
	padding: 6px 6px;
	width: 100%;
	line-height: 1.4;
	margin-top: 2px;
}

